html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #eeeeee;
}
.pageForm{
  padding: 10px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}
#top {
  /* text-align: center; */
  padding-left: 20%;
  padding-right: 20%;
  margin: 0 auto;
  margin-top: 20px;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 10px;
  /* text-align: center; */
}
#searchRecipeForm {
  float: right;
  padding: 10px;
}
.results{
  width: 100%;
  margin: 0 auto;
}
.card-margin{
  margin-top: 20px;
}
.nav-item{
  font-size: 1.5em;
}